<% if @sushi.errors.any? %>
  <h3 style="color: red;"><%= @sushi.errors.full_messages.to_sentence %></h3>
<% end %>
<%# we use form_for when we have an object already %>
<%= form_for @sushi do |f| %>
  <div class="<%= @sushi.errors.any? ? 'manual_field_with_errors' : 'field' %>">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.submit %>
  </div>
<% end %>
